# Gradle
.gradle/
build/

# Local config
local.properties

# IDE (Android Studio)
.idea/
*.iml

# OS files
.DS_Store

# NDK
.externalNativeBuild/
.cxx/

# Firebase (sensitive)
google-services.json

# Keystore (very sensitive)
*.jks
*.keystore

# Captures
captures/